.main {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.img_wrapper {
  flex-grow: 1;
  padding: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  padding: 50px;
  text-align: left;
}

.author_name {
  font-weight: bold;
}

.info_discription {
  align-self: flex-start;
}

.img {
  max-height: 500px;
  max-width: 200px;
}
