.mainPage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book_list {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.book {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 150px;
  width: 100px;
  border: 2px solid blue;
  border-radius: 5px;
}

.book_cover {
  width: 50px;
  height: 100px;
}

.pagination_and_button {
  margin: 0 auto;
}

.customLink {
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: white;
  color: rgba(6, 6, 126, 0.76);
  border: 1px solid rgba(7, 7, 245, 0.514);
  border-radius: 5px;
  cursor: pointer;
}

.paper {
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 40vw;
  background-color: white;
  position: "absolute";
}

.pagination {
  display: flex;
  margin-top: 20px;
}

.pagination_item {
  border: 1px solid blue;
  border-radius: 5px;
  margin: 5px;
  color: blue;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.active_item {
  background-color: blue;
  color: white;
}

.pagination_item:hover:not(.active_item) {
  background-color: #ddd;
}
