.drawer {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  border: 2px solid blue;
  background-color: rgba(124, 124, 124, 0.103);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 80vh;
  width: 20vw;
}

.sort {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.sort_item {
  padding: 5px;
  cursor: pointer;
}

.sort_item:hover {
  background-color: rgba(128, 128, 128, 0.473);
}

.genre {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
